NEXT_PUBLIC_SUPABASE_URL=https://efahamylmoueniflnvzl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_TD903F8atFHoM64JbiEEFA_qhnm_PhI
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_URL=https://personalmodels.vercel.app
